<div class="upcoming-event-card {{ style }}">
  <div class="upcoming-top-banner">
    <div class="upcoming-date-box">
      <div class="upcoming-day">{{ dayOfWeek }}</div>
      <div class="upcoming-short-date">{{ shortDate }}</div>
      <div class="upcoming-start-time">{{ startTime }}</div>
    </div>
    <div class="upcoming-name">{{ event.name }}</div>
  </div>
  <div class="upcoming-img" [style.background-image]="picUrl"></div>
  <div class="upcoming-bot-banner">
    <div class="upcoming-start">{{ formattedStart }}</div>
    <div class="upcoming-description">{{ shortDesc }}</div>
  </div>
</div>
